<h1 class="ctr">Eat-Da-Burger</h1>
<div>
    <img id="img" src="../public/assets/img/burger.jpg" width=150px height=150px>
</div>
<hr>
<div class="row ctr">
    <div class="col s6">
        <h4>Your Favorites</h4>
    </div>
    <div class="col s6">
        <h4>What you are Eating</h4>
    </div>
    <div class="col s6">
        <ul id="favorites">
            {{#each burger}}
            {{#unless this.devoured}}
            <li>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <div class="card-panel grey">
                            <div class="card-content white-text">
                                <h6>{{this.burger_name}}</h6>
                                <hr>
                            </div>
                            <div class="card-action">
                                <button style="color:black;background-color:rgb(35, 48, 92)" value="{{this.id}}" class="eatBurger waves-effect btn-small">Devour
                                    it!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col s6">
        <br>
        <ul class="collection">
            {{#each burger}}
            {{#if this.devoured}}
            <li class="collection-item">
                <div class="row" style="margin-bottom:0px;">
                    <div class="col s8 offset-s2">
                        <div class="card-panel grey">
                            <div class="card-content black-text">
                                <span style="font-size: 18px">{{this.burger_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<hr>
<div class="row ctr">
    <div class="col s12">
        <h4>Create Another</h4>
    </div>
    <form class="addBurger">
        <div class="input-field col s4 push-s4">
            <input name="burger" placeholder="Create a New Burger Here" id="b_name" type="text" class="validate">
            <button type="submit" style="color:black;background-color:rgb(35, 48, 92)" class="waves-effect btn-small">Add
                Creation</button>
        </div>
    </form>
</div>
<div id="footer">
    <small style="margin-left:10px"><a href="https://github.com/Gonzalon3140">GitHub Repo</a></small>
    <small id="sig">&copy;2018 Tony Gonzales</small>
</div>