h1 {
    background-color: rgb(35, 48, 92);
}

.ctr {
    color: #b1bfd6;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#footer {
    height: 35px;
    position: fixed;
    bottom: 0;
    background: slategrey;
    width: 100%;
}

#tag {
    float: right;
    margin: 5px 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#test {
    box-shadow: 20px 20px 50px 10px rgb(35, 48, 92);
}

#test2 {
    box-shadow: 20px 20px 50px 10px rgb(35, 48, 92);
}